
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}

section{
    background-image: url("/images/banner/banner1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 675px;
    display: flex;
    justify-content: end;
    align-items: center;

}

div{
    width: 446px;
    text-align: right;
}