
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}

header{
    background-image: url('/images/banner/banner1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 675px;
    display: flex;
    justify-content: end;
    align-items: center;

}

.section-heading {
    width: 446px;
    text-align: right;
    padding-right: 195px;
    color: black;
}

.section-heading h2{
    color: #151414;
    font-size: 55px;
    font-weight: 595px;
    line-height: 64px;
    padding-bottom: 20px;
    width: 446px;
    
}

.section-heading p{
    color: #444343 ;
    font-size: 13px ;
    font-weight: 340 ;
    line-height: 22px;
    text-align: right;
    padding-bottom: 27px;
     width: 446px;
}

button{
    background-color: #F15B22;
    color: #FFFFFF;
    border: none;
    border-radius: 4.25px;
    padding: 18px 22px;
}

.section-2{
    width: 800px;
    display: flex;
    padding: 111px 273px 0 175px;
    margin: 0 auto;

}

.section-2-container{
    display: flex;

    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 73px;
    gap: 50px;

}

.person-image{

    border-radius: 50%;
}
.person-image img{
    width: 390px;
}


.section-2-content{
    width: 353px;
    text-align: left;
}
.section-2-content h3{
    color: var(--Dark 01, rgba(21, 20, 20, 1));

font-family: Work Sans;
font-style: Bold;
font-size: 34px;
font-weight: 595;
line-height: 40px;
letter-spacing: 0%;
padding-top: 100px;
padding-bottom: 20px;
}

.section-2-content p{
    color: var(--Dark 02, rgba(68, 67, 67, 1));

font-family: Work Sans;
font-style: Regular;
font-size: 13px;
font-weight: 340;
line-height: 22px;
padding-bottom: 13px;
}

.section-2-content .point p{
    color: var(--Dark 02, rgba(68, 67, 67, 1));

font-family: Work Sans;
font-style: Regular;
font-size: 13px;
font-weight: 340;
line-height: 22px;
padding-bottom: 7px;
}

.point i {
    color: rgba(22, 216, 135, 1);
}
.section-3 {
    width: 960px;
    align-items: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 130px;
}

.section-3 h2{
    text-align: center;
    padding-bottom: 46px;
}
.pluns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.pluns-info h3{
    color: var(--Dark 01, rgba(21, 20, 20, 1));

font-family: Work Sans;
font-style: Bold;
font-size: 25px;
font-weight: 595;
line-height: 30px;
padding-bottom: 5px;
}

.pluns-info img{
    width: 80px;
}

.section-4{
    background-image: url("../images/gradient2.png"),
    url("../images/watch.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 975px;
    height: 255px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 10px;



    
}

/* .lll {
    width: 390px;
    border: 1px solid red;
 align-items: center;
    justify-content: space-between;
} */

/* .section4-content{
    width: 390px;
    border: 1px solid red;
    text-align: center;
    padding: 50px 524px 50px 54px;
    justify-content: center;
    margin-top: 200px; }*/

.btn2{
      background-color: #FFFFFF;
    color: #F15B22;
    border: none;
    border-radius: 4.25px;
    padding: 18px 30px;
    font-size: 17px;
    font-weight: bold;
}

.section-4-content{
    width: 460px !important;
    height: 182px;
    text-align: left;
    padding: 50px 616px 50px 54px;
    
}

.section-4-content h2{
    color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-size: 34px;
font-weight: bold ;
line-height: 50px;
text-align: left;
padding-bottom: 20px;
width: 459px;
}

/* footer{
 padding-top: 110px;
} */
.footer-section{
    background-color: black;
    width: 1350px;
    height: 490px;

   
}

.footer-section .footer-container{
    width: 970px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 110px auto;
    padding-top: 80px;


}

.footer-content{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: start;
    /* margin: 110px auto; */
}

.content-future{
    width: 412px !important;
    padding-right: 281px;}

.content-future p{
        color: rgba(255, 255, 255, 1);

font-family: Work Sans;
font-style: Regular;
font-size: 13px;
font-weight: 340;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
padding-top: 16px;
padding-bottom: 10px;
}

.content-future .info p{
  padding-bottom: 0px;
}


.content-form{
    width: 276px;
    text-align: left;
    
}

.content-future img{
    padding-top: 28px;
    width: 40px;
}

.content-form h3 {
    padding-bottom: 20px ;
}

/* .content-form button{
    padding-top: 20px;
} */

.content-form input[type="email"]{
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    outline: none;
    
}

.content-form button{
   margin-top: 20px;
}
