
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}

header{
    background-image: url("/images/banner/banner1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 675px;
    display: flex;
    justify-content: end;
    align-items: center;

}

.section-heading {
    width: 446px;
    text-align: right;
    padding-right: 195px;
    color: black;
}

h2{
    color: #151414;
    font-size: 55px;
    font-weight: 595px;
    line-height: 64px;
    padding-bottom: 20px;
}

.section-heading p{
    color: #444343 ;
    font-size: 13px ;
    font-weight: 340 ;
    line-height: 22px;
    text-align: right;
    padding-bottom: 27px;
}

button{
    background-color: #F15B22;
    color: #FFFFFF;
    border: none;
    border-radius: 4.25px;
    padding: 18px 22px;
}

.section-2{
    width: 911px;
    display: flex;
    padding: 111px 273px 0 175px;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

.person-image{
    /* background: url(ff);
    background: rgba(241, 91, 34, 0.2); */
    /* width: 447px;
    height: 447px; */
    border-radius: 50%;
}
.person-image img{
    width: 390px;
}


.section-2-content{
    width: 353px;
    text-align: left;
}
.section-2-content h3{
    color: var(--Dark 01, rgba(21, 20, 20, 1));

font-family: Work Sans;
font-style: Bold;
font-size: 34px;
font-weight: 595;
line-height: 40px;
letter-spacing: 0%;
padding-top: 100px;
padding-bottom: 20px;
}

.section-2-content p{
    color: var(--Dark 02, rgba(68, 67, 67, 1));

font-family: Work Sans;
font-style: Regular;
font-size: 13px;
font-weight: 340;
line-height: 22px;
padding-bottom: 13px;
}

.section-2-content .point p{
    color: var(--Dark 02, rgba(68, 67, 67, 1));

font-family: Work Sans;
font-style: Regular;
font-size: 13px;
font-weight: 340;
line-height: 22px;
padding-bottom: 7px;
}

.point i {
    color: rgba(22, 216, 135, 1);
}
